body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100ch;
    margin: 30vh;
}
.calc{
    border: 2px red solid;
    background: linear-gradient(20deg,rgb(209, 223, 141),rgb(93, 185, 137));
    margin-top: -450px;
    margin-left: 150px;
}
input{
    border: 1px blue dashed ;
    margin: 5px;
    width: 50vh;
    height: 5ch;
    background-color: rgb(22, 154, 72);
}
select{
    border: 1px dashed gray;
    width: 50vh;
    height: 5ch;
    margin: 5px; 
    background-color: rgb(77, 79, 211);
}
button{
    background-color: rgb(202, 190, 62);
    color: rgb(18, 142, 224);
    margin: 2px;
    width: 25vh;
    height: 5vh;
    margin-left: 15vh;
    text-transform: capitalize;
    font-weight: bold;
  font-size: 25px;
}
button:hover{
    background-color: rgb(161, 103, 103);
    color: rgb(255, 111, 0);
    cursor: pointer;
}
.result{
    background: linear-gradient(4deg,rgb(225, 230, 252),rgb(222, 226, 120));
    border: 1px green dotted;
}